<div class="row">
  <div class="col-sm-3 col-md-3 key">그룹 관리</div>
  <div class="col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1 value">
    <ul class="groupUl">
      <% @ancestor_groups.each do |ancestor_group| %>
      <ul class="group ancestor" data-level=<%= ancestor_group.level %> data-id=<%= ancestor_group.id %> data-code=<%= ancestor_group.code %>>
        <div class="ancestorContainer">
          <div class="align"><%= ancestor_group.name %>
            <i class="arrow"></i>
            <button class="editBtn btn btn-default">Edit</button>
            <button class="saveBtn btn btn-primary">Save</button>
          </div>
        </div>
        <% ancestor_group.children.each do |group| %>
          <li class="group" data-level=<%= group.level %> data-id=<%= group.id %> data-code=<%= group.code %>>
            <%= group.name %><i class="minus"></i>
          </li>
        <% end %>
        <li class="addGroup">
          <form class="form-inline addGroupForm" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="그룹이름">
            </div>
            <i class="plus"></i>
          </form>
        </li>
      </ul>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 key">유저 관리</div>
  <div class="col-sm-12 col-md-12 value">
    <ul class="groupUl">
      <% @ancestor_groups.each do |ancestor_group| %>
      <div class="userTableWrapper">
      <table class="table table-striped theadTable" data-level=<%= ancestor_group.level %> data-id=<%= ancestor_group.id %> data-code=<%= ancestor_group.code %>>
        <caption>
          <%= ancestor_group.name %>
          <div class="btns">
            <button class="editBtn btn btn-default">Edit</button>
            <button class="saveBtn btn btn-primary">Save</button>
          </div>
        </caption>
        <tr>
          <td class="name">이름</td>
          <td class="grade">학년</td>
          <td class="group">소속</td>
          <td class="phoneNumber">연락처</td>
          <td class="email">이메일</td>
          <td class="address">주소</td>
          <td class="birthday">생일</td>
          <td class="btns"></td>
        </tr>
        <tr class="addUser">
          <td class="name"><input type="text" class="form-control"></td>
          <td class="grade"><input type="text" class="form-control"></td>
          <td class="group">
            <select class="form-control">
              <% ancestor_group.descendents.each do |group| %>
                <option value="<%= group.id %>"><%= group.name %></option>
              <% end %>
            </select>
          </td>
          <td class="phoneNumber"><input type="text" class="form-control"></td>
          <td class="address"><input type="text" class="form-control"></td>
          <td class="email"><input type="text" class="form-control"></td>
          <td class="birthday"><input type="text" class="form-control"></td>
          <td class="btns"><i class="plus"></i></td>
        </tr>
      </table>
      <div class="userTbodyWrapper">
      <table class="table table-hover">
        <% ancestor_group.descendents_users.each do |user| %>
          <% user.groups.each do |group| %>
            <% if group.code == ancestor_group.code %>
              <tr data-id=<%= user.id %>>
                <td class="name"><%= user.name %></td>
                <td class="grade"><%= user.grade %></td>
                <td class="group"><%= group.name %></td>
                <td class="phoneNumber"><%= user.phone_number %></td>
                <td class="email"><%= user.email %></td>
                <td class="address"><%= user.address %></td>
                <td class="birthday"><%= user.birthday %></td>
                <td class="btns"><i class="minus"></i></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
      </div>            
      </div>
      <% end %>
    </ul>
  </div>
</div>