<div id="bodyWrapper">
  <div id="leftSidebar">
    <div id="firstRow">
      <div id="container">
        <div id="logo"></div>
        <p id="titleP">Dashboard</p>
      </div>
    </div>
    <div id="secondRow">
      <div id="container">
        <div id="profileImg"></div>
        <p id="emailP">hook3748@gmail.com</p>
      </div>
    </div>
    <div id="thirdRow">
      <div id="container">
        <p id="groupsP">GROUPS</p>
        <ul id="groupUl">
          <% @ancestor_groups.each do |ancestor_group| %>
            <li class="group ancestor"><div class="align"><%= ancestor_group.name %></div></li>
            <% ancestor_group.children.each do |group| %>
              <li class="group"><div class="align"><%= group.name %></div></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="mainContent">
    <div id="navBar">
      <ul id="elementUl">
        <li class="element active"><a href="#"><i class="icon"></i>원우목록</a></li>
        <li class="element"><a href="#"><i class="icon"></i>그룹정보</a></li>
        <li class="element"><a href="#"><i class="icon"></i>공지사항</a></li>
        <li class="element"><a href="#"><i class="icon"></i>설정</a></li>
      </ul>
    </div>
    <div id="usersWrapper">
      <p id="usersP">Users</p>
      <ul id="profileUl"> 
        <div class="row">
          <% @users.each do |user| %>
            <li class="col-sm-5 col-md-5 profile <%= cycle("", "col-sm-offset-1 col-md-offset-1") %>">
              <div class="front">
                <div class="img"></div>
                <p class="name"><%= user.name %></p>
                <p><%= user.grade %></p>
              </div>
              <div class="back">
                <div class="img"></div>
                <p class="name"><%= user.name %></p>
                <p class="subInfo"><%= user.phone_number %></p>
                <p class="subInfo"><%= user.email %></p>
                <p class="subInfo"><%= user.address %></p>
              </div>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>