<div id="bodyWrapper">
  <div id="leftSidebar">
    <div id="firstRow">
      <div id="container">
        <div id="logo"></div>
        <p id="titleP">Dashboard</p>
      </div>
    </div>
    <div id="secondRow">
      <div id="container">
        <div id="profileImg"></div>
        <p id="emailP">hook3748@gmail.com</p>
        <input id="userIdInput" type="hidden" value="1">
      </div>
    </div>
    <div id="thirdRow">
      <div id="container">
        <p id="groupsP">GROUPS</p>
        <ul class="groupUl">
          <% @ancestor_groups.each do |ancestor_group| %>
            <ul class="group ancestor" data-id=<%= ancestor_group.id %>><div class="align"><%= ancestor_group.name %></div>
            <% ancestor_group.children.each do |group| %>
              <li class="group" data-id=<%= group.id %> data-code=<%= group.code %>><div class="align"><%= group.name %></div></li>
            <% end %>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="mainContent">
    <div id="navBar">
      <ul id="elementUl">
        <li data-wrapper="usersWrapper" class="element active">
          <a href="#"><i class="icon"></i>원우목록</a>
        </li>
        <li data-wrapper="groupInfoWrapper" class="element">
          <a href="#"><i class="icon"></i>그룹정보</a>
        </li>
        <li data-wrapper="boardsWrapper" class="element">
          <a href="#"><i class="icon"></i>공지사항</a>
        </li>
        <li data-wrapper="settingsWrapper" class="element">
          <a href="#"><i class="icon"></i>설정</a>
        </li>
      </ul>
    </div>
    <%= render "users" %>
    <%= render "group_info" %>
    <%= render "boards" %>
    <%= render "settings" %>
  </div>
</div>
<script id="userTemplate" type="text/template">
  <li class="col-sm-5 col-md-5 profile <%%= offsetClass %>">
    <div class="front">
      <div class="img"></div>
      <p class="name"><%%= name %></p>
      <p><%%= grade %></p>
    </div>
    <div class="back">
      <div class="img"></div>
      <p class="name"><%%= name %></p>
      <p class="subInfo"><%%= phone_number %></p>
      <p class="subInfo"><%%= email %></p>
      <p class="subInfo"><%%= address %></p>
    </div>
  </li>
</script>
<script id="groupTemplate" type="text/template">
  <li class="group" data-level=<%%= level %> data-id=<%%= id %> data-code=<%%= code %>>
    <%%= name %><i class="minus"></i>
  </li>
</script>
<script id="userTemplateInTable" type="text/template">
  <tr data-id=<%%= id %>>
    <td class="name"><%%= name %></td>
    <td class="grade"><%%= grade %></td>
    <td class="group"><%%= group %></td>
    <td class="phoneNumber"><%%= phone_number %></td>
    <td class="email"><%%= email %></td>
    <td class="address"><%%= address %></td>
    <td class="birthday"><%%= birthday %></td>
    <td class="btns"><i class="minus"></i></td>
  </tr>
</script>