<div id="boardListRow" class="row active">
  <div class="col-sm-12 col-md-12 key">게시판</div>
  <div class="col-sm-12 col-md-12 value">
    <table class="table table-striped table-hover">
      <caption></caption>
      <thead>
        <tr>
          <td>글번호</td>
          <td>글제목</td>
          <td>작성자</td>
          <td>조회수</td>
        </tr>
      </thead>
      <tbody>
        <% @ancestor_groups.each do |ancestor_group| %>
          <% ancestor_group.boards.each.with_index(1) do |board, idx| %>
            <tr>
              <td><%= idx %></td>
              <td><%= board.title %></td>
              <td><%= board.writer %></td>
              <td><%= board.count %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div id="boardPageNumWrapper">
      <ul id="boardPageNumUl" class="pagination pagination-sm">
        <li class="boardPageNum"><a href="#">«</a></li>
        <li class="boardPageNum active"><a href="#">1</a></li>
        <% (2..3).each do |i| %>  
          <li class="boardPageNum"><a href="#"><%= i %></a></li>
        <% end %>
        <li class="boardPageNum"><a href="#">»</a></li>
      </ul>
      <button class="btn btn-default writeBtn" data-row="writeBoardRow">글쓰기</button>
    </div>
  </div>
</div>